.albumCard {
  /* background-color: red; */
  /* outline: 10px solid blue; */
  position: relative;
  font-family: "Nunito";
}
.priceTag {
  right: 0;
  font-family: "Nunito";
  position: absolute;
  background-color: #d0ff5d;
  color: black;
  padding: 0 4px;
  cursor: pointer;
  border-radius: 0 0 0 1px;
}
.albumArt {
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 15px 40px rgba(0, 0, 0, 0.05);
  margin-bottom: 5px;
}
.albumContainer {
  transition: transform 0.2s;
}
.albumCard:hover .albumContainer {
  transform: translateY(-5px);
  transition: transform 0.2s;
}
.albumInfo {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  max-height: var(--tablet-grid-size);
  overflow: hidden;
  cursor: default;
}
.albumName {
  background-color: black;
  width: fit-content;
  max-height: 2em;
  padding: 0 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: clamp(0.9rem, 1vw, 1rem);
}
.artistName {
  color: black;
  font-size: clamp(0.8rem, 1vw, 0.9rem);
}
