.button {
  composes: button from global;
  padding: 2px;
  background-color: white;
  justify-content: space-between;
  position: relative;
}
.decrement,
.increment {
  border: none;
  /* position: absolute; */
  border-radius: 50px;
  padding: 0.6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.15s;
}
.amountField {
  /* position: absolute; */
  font-size: inherit;
  margin: 0 3vw;
  border: none;
  background-color: transparent;
  color: black;
  display: flex;
  place-content: center center;
  width: 10px;
}
